.search{
	background-image:url("photos/searchbg.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	

}

.searchtitle{
	text-align:center;
	font-family:Arial;
	font-size:100px;
	font-weight:bold;
	color:white;
	margin-top:0;
	margin-bottom:2%;
}

.box{
	margin-top:0;
	float:center;
	height:30px;
	width:500px;
}
button{
	height:30px;
}
input[type=text]{
	color:black;
	font-weight:bold;
	font-family:Calibri;
}
.homeicon{
	font-size:32px;
	margin-top:0;
	margin-left:0;
	float:left-top;
	color:white;
}
.homeicon a{
	color:white;
}
.align{
    margin-top:10%;
	text-align:center;
}